/*___________________________________________________
General Styles
___________________________________________________*/
body, html {
  /* Fills entire browser when loaded */
  height: 100%;
}

body {
  font-family: font-family: 'Rufina', serif;
  font-size: 1.1rem;
}
/*
.navbar-dark .navbar-nav .navbar-link {
  color: #DC00FF;
}*/

.navbar-dark .navbar-nav .nav-link {
  color: #424242;
}
/*This class is added by js*/
.scrolled {
  background-color: #424242;
  transition: 1s ease-in-out;
}

/* these do not work with navbar-dark, but navbar-dark is needed for scrollspy*/
/*The nav-link-style class is added by js*/
a.nav-item.nav-link.nav-link-style {
  color: #f57fff;
  transition: all 0.6s ease-in-out;
}

/*background color of toggler icon*/
.navbar-toggler {
  background-color: #424242;
}

/*border of navbar toggler*/
.navbar-dark .navbar-toggler {
  border-color: #f57fff;
}


/*HEADER*/

#header {
  /* background: url(../img/purple-gradient.png) center center no-repeat; */
  /* background: url(../img/purple-clouds.jpg) center center no-repeat; */
  /* too pink */
  /* background: linear-gradient(to top right, rgba(214, 61, 255, 1), rgba(255, 232, 169, 1)); */
  background: linear-gradient(to top right, rgba(147, 0, 255, 1), rgba(255, 232, 169, 1));
  /*span the entire container*/
  background-size: cover;
  height: 100%;
  /* Enable a flex container for this element */
  display: flex;
  /* Center this section vertifcally and horizontally */
  align-items: center;
}

#header img {
  /* padding-bottom: 80px; */
  /* Adjust size of image */
  width: 60%;
}

/* Add transparent background to header form section */

#logo {
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 23px 9px #000;
  border-radius: 30px;
}


#logo-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 15px;
}

#logo-text {
  font-size: 15rem;
  font-style: italic;
  font-family: "URW Chancery L", cursive;
}

#welcome-text {
  margin-top: 80px;
  color: #3a3a3a;
}








/* WHO */

#who {
  /* background: url(../img/mountains.jpg) center center no-repeat; */
  /* background: linear-gradient(to top, rgba(120, 120, 120, 1), rgba(224, 224, 224, 1)); */
  background-color: #808080;
  padding: 15rem 0;
  background-size: cover;
  color: #ffdc00;
}

#who .btn-who {
  background-color: #be2835;
  /* color: #fff; */

  width: 50%;
  margin-bottom: 1rem;
}

#who p {
  padding: 1rem 0;
}

/* removed */

/*#who .btn-who:hover {
  background-color: transparent;
  border: 1px solid #be2835;
  color: #be2835;*/

/* fading transition*/

/* already applied in global bootstrap css, but this is what it looks like*/

/*transition: all .15s ease-in-out;*/







/* WHY */

#why {
  padding: 15rem 0;
  background-color: #00A2FF;
  color: #ffebc1;
}

.why-text {
  margin-bottom: 1rem;
}

.title-text {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
}

#why p {
  padding: .7rem 0;
  color: #dfdfdf;
}

/* WORK */

.card-spacing {
  margin: 10px 0;
}

#work {
  padding: 5rem 0;
  background-color: #000;
  color: #FFD58B;
}

/* These two work together to place the overlay only on the top part of the card */

/* This places the overlay over the entire card */

#work .work-img .img-overlay {
  /* Place hover over top left of card */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Set size to fill card */
  width: 100%;
  height: 100%;
  /* Add image over overlay */
  /* background-image: url(../img/eye.png); */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* Hide eye image overlay */
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

/* This moves the overlay only to the top part of the card */

#work .work-img {
  /* position: relative; */
}

#work .work-img .img-overlay:hover {
  opacity: 1;
  z-index: 1;
}

/*
.overlay-text {
  color: #fff;
  font-size: 2rem;
  position: relative;
  top: 40%;
  left: 40%;
}
*/

.card-text-bottom {
  color: #fff;
  font-size: 2rem;
}

.img-overlay:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

/* removes blue text link on top left when hover ends */

#card1-text, #card2-text, #card3-text, #card4-text {
  opacity: 0;
}

#card1:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card1:hover #card1-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 30%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

/*
#card2-text {
  opacity: 0;
}
*/

#card2:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card2:hover #card2-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 20%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

#card3:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card3:hover #card3-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 35%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

#card4:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card4:hover #card4-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 30%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}





/* Customers */

#customers {
  background-color: #f8f8f8;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1)); */
  padding: 15rem 0;
  /* Any content that spills into another section is hidden */
  /* This is useful when you're fading up content */
  overflow: hidden;
  color: #00c5ff;
}

#customers .carousel-indicators li {
  background-color: #c100ff;
}

#customers .carousel-inner {
  margin-bottom: 50px;
}

#customers .carousel-indicators {
  margin-bottom: -50px;
}

/* CONTACT */

#contact {
  padding: 15rem 0;
  background-color: #000;
  background: linear-gradient(to top right, rgba(214, 61, 255, 1), rgba(255, 232, 169, 1));
  /* background: linear-gradient(to right, rgba(248, 139, 255, 1), rgba(254, 249, 231, 1)); */
}

.btn-style {
  border: 1px solid #0083FF;
  background-color: #0083ff;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btn-style:hover {
  font-size: 1.2rem;
  font-weight: bolder;
}
