/*___________________________________________________
General Styles
___________________________________________________*/

body, html {
  /* Fills entire browser when loaded */
  height: 100%;
}

body {
  font-family: font-family: 'Rufina', serif;
  font-size: 1.2rem;
}

/*___________________________________________________
Navbar
___________________________________________________*/

.navbar-dark .navbar-nav .nav-link {
  /*dark gray*/
  color: #424242;
  transition: all .8s ease-in-out;
}

/*original color of nav bar fixed section*/

.fixed-top {
  background-color: none;
  transition: all 0.8s ease-in-out;
}

/*This class is added by js*/

.scrolled {
  /*dark gray*/
  background-color: #424242;
  transition: 0.8s ease-in-out;
}

/* these do not work with navbar-dark, but navbar-dark is needed for scrollspy*/

/*The nav-link-style class is added by js*/

a.nav-item.nav-link.nav-link-style {
  /* off white */
  color: #ffe8a9;
  transition: all 0.8s ease-in-out;
}

/*background color of toggler icon*/

.navbar-toggler {
  background-color: #424242;
}

/*border of navbar toggler*/

.navbar-dark .navbar-toggler {
  /* off white */
  border-color: #ffe8a9;
}

#arrow {
  color: rgba(234, 234, 234, .5);
}
/*___________________________________________________
HEADER
_____________________________________________________*/
#header {
  background: url(../img/header-bg.jpg) center center no-repeat;
  color: #fff;
  /* background: linear-gradient(to bottom, rgba(255, 232, 169, 1),rgba(234, 234, 234, 1)); */
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}

.light-overlay {
 /* position: absolute; */
 /* top: 0; */
 /* left: 0; */
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.7);
}

#logo-text {
  margin-top: 1rem;
  font-family: 'Cormorant SC', serif;
}

#welcome-text {
  margin-top: 80px;
  color: #3a3a3a;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  #logo-text {
    font-size: 7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  #logo-text {
    font-size: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  #logo-text {
    font-size: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  #logo-text {
    font-size: 13rem;
  }
}

/*_____________________________________________________
All sections
_______________________________________________________*/
.title-text {
  font-size: 3rem;
  text-align: center;
}

.row-spacing {
  padding: 1.5rem 0;
}


/*_____________________________________________________
About
_______________________________________________________*/

#about {
  background: linear-gradient(to bottom, rgba(234, 234, 234, 1), rgba(117, 203, 231, 1));
  color: #000;
  padding: 15rem 0;
}

.about-title-text {
  color: #3c3c3c;
  font-weight: bold;
}

#hr-about {
  background-color: #00c5ff;
  margin-bottom: 2rem;
}

/*___________________________________________________
WHY
_____________________________________________________*/

#why {
  padding: 15rem 0;
  /* background-color: #00A2FF; */
  background: linear-gradient(to bottom, #75cbe7 60%, #138fc2 100%);
  /* color: #ffebc1; */
  color: #ffe5ad;
}

.why-text {
  margin-bottom: 1rem;
}

.why-title-text {
  color: #646464;
  font-weight: bold;
}

#hr-why {
  background-color: #fff;
  /* margin-bottom: 2rem; */
}

#why-sentence {
  margin-bottom: 2rem;
  color: #8f8f8f;
}

#why p {
  padding: .7rem 0;
  color: #646464;
}

.services-text {
  color: #ffbd75;
}

/* Only on devices 775px and up should height be Set
This is so text under will align horizontally */

@media only screen and (min-width: 775px) {
  .why-sub-section {
    height: 75px;
  }
}

/*___________________________________________________
Customers
_____________________________________________________*/

#customers {
  /* background-color: #f8f8f8; */
  background: linear-gradient(to bottom, #138fc2 0%, #000 100%);
  padding: 20rem 0;
  /* Any content that spills into another section is hidden */
  /* This is useful when you're fading up content */
  overflow: hidden;
  color: #00c5ff;
}

.customers-title-text {
  font-weight: bold;
  color: #fff;
}

#customer-sentence {
  font-weight: bold;
  color: #dfdfdf;
}

.carousel-item {
  padding: 1.2rem 0;
}

#hr-customers {
  background-color: #d0d0d0;
  margin-bottom: 2rem;
}

/* This stops the indicators from bouncing when
quote is more than one line*/

div.carousel-item.active {
  height: 200px;
}

#customers .carousel-indicators li {
  /* purple
  background-color: #c100ff;*/
  background-color: #5a5a5a;
}

#customers .carousel-inner {
  margin-bottom: 50px;
}

#customers .carousel-indicators {
  margin-bottom: -50px;
}

/* fading transition*/

/* already applied in global bootstrap css, but this is what it looks like*/

/*transition: all .15s ease-in-out;*/

/*___________________________________________________
WORK
_____________________________________________________*/

.card-spacing {
  margin: 10px 0;
}

#work {
  padding: 5rem 0;
  background-color: #000;
  color: #FFD58B;
}

/* These two work together to place the overlay only on the top part of the card */

/* This places the overlay over the entire card */

#work .work-img .img-overlay {
  /* Place hover over top left of card */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Set size to fill card */
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

/* This moves the overlay only to the top part of the card */

#work .work-img {
  /* position: relative; */
}

#work .work-img .img-overlay:hover {
  opacity: 1;
  z-index: 1;
}

/*
.overlay-text {
  color: #fff;
  font-size: 2rem;
  position: relative;
  top: 40%;
  left: 40%;
}
*/

.card-text-bottom {
  color: #fff;
  font-size: 2rem;
}

.img-overlay:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

/* removes blue text link on top left when hover ends */

#card1-text, #card2-text, #card3-text, #card4-text {
  opacity: 0;
}

#card1:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card1:hover #card1-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 30%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

/*
#card2-text {
  opacity: 0;
}
*/

#card2:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card2:hover #card2-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 35%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

#card3:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card3:hover #card3-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 35%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

#card4:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card4:hover #card4-text {
  display: inline;
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 35%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}

/* CONTACT */

/* #contact { */

/* padding: 15rem 0; */

/* background-color: #000; */

/* background: linear-gradient(to top right, rgba(214, 61, 255, 1), rgba(255, 232, 169, 1)); */

/* background: linear-gradient(to bottom, #000 0%, #fff 70%); */

/* } */

#contact {
  /* background: linear-gradient(to top, rgba(120, 120, 120, 1), rgba(224, 224, 224, 1)); */
  color: #fff;
  text-align: center;
  /* position: relative; */
  /* min-height: 200px; */
  background: url('../img/glow-clouds.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* padding-bottom: 20rem; */
}

.dark-overlay {
  /* position: relative; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 20rem;
}

.form-control::placeholder {
  color: #fff;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .075), 0 0 8px rgba(255, 255, 255, .6);
}

.btn-style {
  border: 1px solid #0083FF;
  background-color: #0083ff;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btn-style:hover {
  font-size: 1.2rem;
  font-weight: bolder;
}

/* My Form*/

#contact-us-text {
  /* color: #ccbcff; */
  font-size: 3.5rem;
}

#form-text-message {
  /* color: #a9d9e3; */
}

#thankyou_message {
  /* display: none; */
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 15px;
  -webkit-borde-radius: 15px;
  border-radius: 15px;
  padding: 10px;
}

#namebox {
  /* background-color: transparent; */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

#emailbox {
  color: #fff;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.3);
}

#textbox {
  color: #fff;
  margin-bottom: 5px;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.3);
}

/* Removes red auto border on required field in Firefox */

input, textarea {
  border: solid 1px blue;
  box-shadow: none;
}

/* input:-moz-placeholder, */

/* input:focus { */

/* box-shadow:none !important; */

/* } */

/* input:invalid { */

/* box-shadow:0 0 2px 1px purple; */

/* } */
/* Footer */

#footer {
  padding: 2rem 0;
  background-color: #484848;
  color: white;
}

#footer a {
  color: white;
}

#footer .fa {
  padding: 0 5px;
}
