/*___________________________________________________
General Styles
___________________________________________________*/

body, html {
  /* Fills entire browser when loaded */
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

/*HEADER*/

#header {
  /* background: url(../img/purple-gradient.png) center center no-repeat; */
  /* background: url(../img/purple-clouds.jpg) center center no-repeat; */
  background: linear-gradient(to right, rgba(248,139,255,1), rgba(254,249,231,1));
  /*span the entire container*/
  background-size: cover;
  height: 100%;
  /* Enable a flex container for this element */
  display: flex;
  /* Center this section vertifcally and horizontally */
  align-items: center;
}

#header img {
  /* padding-bottom: 80px; */
  /* Adjust size of image */
  width: 60%;
}

/* Add transparent background to header form section */

#logo {
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 23px 9px #000;
  border-radius: 30px;

}

#logo-container {
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 15px;
}
#logo-text {
  font-size: 15rem;
  font-style: italic;
  font-family: "URW Chancery L", cursive;
}

#welcome-text {
  margin-top: 80px;
}




/* WHO */

#who {
  background: url(../img/mountains.jpg) center center no-repeat;
  padding: 5rem 0;
  background-size: cover;
}

#who .btn-who {
  background-color: #be2835;
  color: #fff;
  width: 50%;
  margin-bottom: 1rem;
}

#who .btn-who:hover {
  background-color: transparent;
  border: 1px solid #be2835;
  color: #be2835;
  /* fading transition*/
  /* already applied in global bootstrap css, but this is what it looks like*/
  /*transition: all .15s ease-in-out;*/
}







/* WORK */
.card-spacing {
  margin: 10px 0;
}

#work {
  padding: 5rem 0;
  background-color: #000;
  color: #FFD58B;

}

/* These two work together to place the overlay only on the top part of the card */
/* This places the overlay over the entire card */
#work .work-img .img-overlay {
  /* Place hover over top left of card */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Set size to fill card */
  width: 100%;
  height: 100%;
  /* Add image over overlay */
  /* background-image: url(../img/eye.png); */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* Hide eye image overlay */
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

/* This moves the overlay only to the top part of the card */

#work .work-img {
  position: relative;
}

#work .work-img .img-overlay:hover {
  opacity: 1;
  z-index: 1;
}

a.btn-style {
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
}

.overlay-text {
  color: #fff;
  font-size: 2rem;
  position: relative;
  top: 40%;
  left: 40%;
}

.card-text-bottom {
  color:#fff;
  font-size: 2rem;
}

.img-overlay:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card2-text {
  opacity: 0;
}

#card2:hover .card-text-bottom {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#card2:hover #card2-text {
  opacity: 1;
  color: #FFD58B;
  position: relative;
  top: 35%;
  left: 35%;
  font: 2.5rem 'Merienda One', Helvetica, sans-serif;
}







/* WHY */

#why {
  padding: 5rem 0;
  background-color: #f6f6f6;
}

#why .fa {
  color: #be2835;
  padding: 15px 0;
}

.why-text {
  margin-bottom: 1rem;
}


/* Customers */

#customers {
  background: linear-gradient(to right, rgba(0,255,242,1), rgba(231,231,231,1));
  padding: 5rem 0;
  /* Any content that spills into another section is hidden */
  /* This is useful when you're fading up content */
  overflow: hidden;
}

#customers .carousel-indicators li {
  background-color: #be2835;
}

#customers .carousel-inner {
  margin-bottom: 50px;
}

#customers .carousel-indicators {
  margin-bottom: -50px;
}


/* CONTACT */

#contact {
  padding: 5rem 0;
  background-color: #000;
  background: linear-gradient(to right, rgba(248,139,255,1), rgba(254,249,231,1));
}



.btn-style {
  border: 1px solid #0083FF;
  background-color: #0083ff;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btn-style:hover {
  font-size: 1.2rem;
  font-weight: bolder;
}
