body {
  background-color: #000;
  color: #999;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

.dateTime {
  color: #00ceff;
  background: rgba(255, 255, 255, 0.25);
  border: solid 1px transparent;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  font-size: 2rem;
}
