/*______________________________
Positioning
_______________________________*/

section {
  /* background-color: #eeeeee; */
  /* color: #232323; */
  /* position: relative; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.align-center {
  text-align: center;
}

.fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

/*______________________________
Text
_______________________________*/

.display-1 {
  font-family: 'Charm', cursive;
  /* font-style: italic; */
  font-size: 9.25rem;
  background: linear-gradient(to right, #fcffc5 0%, #00c5c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-3 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  background: linear-gradient(to right, #feffc1 0%, #606cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-5 {
  font-family: 'Charm', cursive;
  /* font-family: 'Merriweather', serif; */
  font-size: 2rem;
  background: linear-gradient(to right, #00fcff 0%, #00c5c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  background-image: url("coming-soon-bg.jpg");
}

.dateTime {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  border: solid 1px transparent;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  font-size: 2rem;
  background: linear-gradient(to right, #00fcff 0%, #00c5c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.dateContainer {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.spacing {
  margin-top: 3rem;
}
