/*______________________________
Positioning
_______________________________*/

section {
  /* background-color: #eeeeee; */
  /* color: #232323; */
  /* position: relative; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.align-center {
  text-align: center;
}

.mbr-fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

/*______________________________
Text
_______________________________*/

.mbr-white {
  color: #ffffff;
}

.mbr-bold {
  font-weight: 700;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 5.25rem;
}

.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.cid-qv1funTNmy {
  background-image: url("coming-soon-bg.jpg");
}

.dateTime {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  border: solid 1px transparent;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  font-size: 2rem;
}

.dateContainer {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 25px;
}
